:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --main-font: 'Poppins', sans-serif;
  --second-font: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

.social-1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:3rem;
  i{
    margin:0 .7rem;
    color:#fff;
    border:2px solid #fff;
    font-weight: 600;
    padding:.8rem;
    border-radius:50%;
    transition:.3s ease;
    &:hover{
      color:hsl(300, 69%, 71%);
      border-color:hsl(300, 69%, 71%);
    }
  
  }
}

body{
  background-color:hsl(257, 40%, 49%); 
  background-image: url("../images/bg-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  margin:2rem 0 3rem 0;
  .container{
    width:90%;
    margin:0 auto;
    img{
      width:150px;
      cursor: pointer;
      display: block;
    }
    
  }
}
main{
  .container{
    width:90%;
    margin:0 auto;
    .row-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .left-img{
        flex:1 0 100%;
        max-width: 100%;
        margin-bottom: 2rem;
        img{
          max-width:100%;
        }
      }
      .details{
        text-align: center;
        max-width: 450px;
        color:#fff;
        h1{
          margin-bottom: 1.2rem;
          font-size:1.5rem;
          font-weight: 600;
        }
        p{
          font-weight: 400;
          margin-bottom: 1.5rem;
          font-size: 1rem;
          line-height: 20px;
        }
        .btn{
          padding: 0.6rem 4rem;
          font-size: 1rem;
          text-transform: capitalize;
          color:hsl(257, 40%, 49%);
          box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.4);
          border-radius: 20px;
          border:none;
          outline:none;
          transition:.3s ease;
          margin-bottom: 3rem;
          &:hover{
            cursor: pointer;
            background-color:hsl(300, 69%, 71%);
          }
        }
      }
    }
    
  }
}

footer{
  background-color:  hsl(300, 69%, 71%);
    padding:1rem 0;
  position: relative;
  bottom:0;
  left:0;
  right:0;
  .container{
    width:90%;
    margin:0 auto;
    .footer{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}


@media screen and (min-width:768px) {
  header{
    .container{
      width:85%;
    }
  }
  main{
    .container{
      width:85%;
      .row-container{
        flex-direction: row;
        justify-content: space-between;
        .left-img{
          flex:1 0 50%;
          margin-bottom:0;
          margin-right: 1rem;
        }
        .details{
          flex:1 0 40%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-left:1rem;
          h1{
            font-size:2rem;
            text-align: left;
          }
          p{
            font-size: 1.1rem;
            line-height: 25px;
            text-align: left;
          }
          .btn{
            align-self: flex-start;
            padding: .8rem 3.5rem;
            font-size: 1.3rem;
            text-transform: capitalize;
            color:hsl(257, 40%, 49%);
            box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.4);
            border-radius: 25px;
            border:none;
            outline:none;
            transition:.3s ease;
            margin-bottom: 3rem;
            &:hover{
              cursor: pointer;
              background-color:hsl(300, 69%, 71%);
            }
          }
        }
      }
      
    }
  }

  .social-1{
    justify-content: flex-end;
    margin-bottom:0;
  }
  

  
  footer{
    background-color:  hsl(300, 69%, 71%);
    padding:1rem 0;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    .container{
      width:90%;
      margin:0 auto;
      .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  
}